/* Styling for background */
html
{
	height: 100%;
}

body
{
	background: url("../images/background.png");
	
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	

}

/* Styling for main body text */
div.main
{
	text-align: center;
}

#recaptcha_area
{
    margin: 0 auto;
}

/* Styling for editor div */
div.editor
{
	width: 600px;
	margin: 0 auto;
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	border-color: rgb(150, 8, 10);
	background-color: rgba(150, 10, 10, 0.8);
	padding: 6px;
	font-size: 20px;
	color: #FFF;
}

/* Styling for the header */
h1
{
	background-color: #DDD;
    margin: 0 0 30px 0;
    padding: 30px;
    font-family: Arial;
    background-color: rgba(255,230,230,0.4);
    font-size: 3em;
    text-shadow: #FFF 0px 0px 9px;
}

/* Styling for the poems */
div.poem
{
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	padding: 0px;
	margin-bottom: 40px;
}

h2.poem
{
	margin: 10px;
}

h3.poem
{
	margin: 0 0 20px 0;
    font-size: .8em;
}

pre.poem
{
	text-align: left;
    margin: 10px;
    text-overflow: clip;
    font-family: arial;
}

/* Styling for the link colors */
a:link
{
	color: #1FE5FF;
}
a:visited
{
	color: #1FE5FF;
}
a:hover
{
	color: #BFF8FF;
}
a:active
{
	color: #1FE5FF;
}

/* Styling for the navigation bar at the top */
#navbar {
	float:left;
	width:100%;
	overflow:hidden;
	position:relative;
}

#navbar ul {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}

#navbar ul li a:hover {
	background:#369;
	color:#fff;
}

#navbar ul li a.active,
#navbar ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}

#navbar ul li {
	display:block;
	float:left;
	list-style:none;
	margin:20px;
	padding:0;
	position:relative;
	right:50%;
}

#navbar ul li a {
	display:block;
	margin:0 0 0 1px;
	padding:3px 10px;
	border:2px solid;
	border-radius:25px;
	color:#000;
	text-decoration:none;
	font-size: 30px;
	font-family:"Times New Roman", Times, serif;
	line-height:1.3em;
}

/* Our clear line break to clean up those floats! */
br.clear {
	clear:both;
}